<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>جدول نتایج فرم</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
<tr>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">نام کامل</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ایمیل</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">شماره تلفن</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">نام کسب و کار</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">صنعت</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">وبسایت دارد</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">آدرس وبسایت</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">نوع پروژه</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ویژگی‌های وبسایت</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ویژگی‌های دیگر</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">سبک طراحی</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">رنگ‌های طراحی</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">الهام‌بخش‌های طراحی</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">مخاطب هدف</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">اقدامات کاربران</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">پلتفرم ترجیحی</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ادغام‌های خارجی</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">نیاز به نگهداری</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">تاریخ شروع</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">بودجه</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">مراحل</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">چالش‌های فعلی وبسایت</th>
  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">درخواست‌های خاص</th>
</tr>

            </thead>
             <tbody>
              {{#each formData}}
                <tr>
                  <td>{{this.FullName}}</td>
                  <td>{{this.Email}}</td>
                  <td>{{this.PhoneNumber}}</td>
                  <td>{{this.BusinessName}}</td>
                  <td>{{this.Industry}}</td>
                  <td>{{this.HasWebsite}}</td>
                  <td>{{this.WebsiteURL}}</td>
                  <td>{{this.ProjectType}}</td>
                  <td>{{this.WebsiteFeatures}}</td>
                  <td>{{this.OtherFeatures}}</td>
                  <td>{{this.DesignStyle}}</td>
                  <td>{{this.DesignColors}}</td>
                  <td>{{this.DesignInspirations}}</td>
                  <td>{{this.TargetAudience}}</td>
                  <td>{{this.UserActions}}</td>
                  <td>{{this.PreferredPlatform}}</td>
                  <td>{{this.ExternalIntegrations}}</td>
                  <td>{{this.MaintenanceRequired}}</td>
                  <td>{{this.LaunchDate}}</td>
                  <td>{{this.Budget}}</td>
                  <td>{{this.Milestones}}</td>
                  <td>{{this.CurrentWebsiteChallenges}}</td>
                  <td>{{this.SpecificRequests}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>جدول پروژه‌ها</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center justify-content-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">پروژه</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">بودجه</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">وضعیت</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">پیشرفت
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div>
                      <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm rounded-circle me-2"
                        alt="spotify">
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-0 text-sm">اسپاتیفای</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">$2,500</p>
                </td>
                <td>
                  <span class="text-xs font-weight-bold">در حال انجام</span>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-xs font-weight-bold">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <button class="btn btn-link text-secondary mb-0">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div>
                      <img src="../assets/img/small-logos/logo-invision.svg"
                        class="avatar avatar-sm rounded-circle me-2" alt="invision">
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-0 text-sm">اینویژن</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">$5,000</p>
                </td>
                <td>
                  <span class="text-xs font-weight-bold">تمام‌شده</span>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-xs font-weight-bold">100%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div>
                      <img src="../assets/img/small-logos/logo-jira.svg" class="avatar avatar-sm rounded-circle me-2"
                        alt="jira">
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-0 text-sm">جیرا</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">$3,400</p>
                </td>
                <td>
                  <span class="text-xs font-weight-bold">لغو شده</span>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-xs font-weight-bold">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="30"
                          aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div>
                      <img src="../assets/img/small-logos/logo-slack.svg" class="avatar avatar-sm rounded-circle me-2"
                        alt="slack">
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-0 text-sm">اسلک</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">$1,000</p>
                </td>
                <td>
                  <span class="text-xs font-weight-bold">لغو شده</span>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-xs font-weight-bold">0%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="0"
                          aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div>
                      <img src="../assets/img/small-logos/logo-webdev.svg" class="avatar avatar-sm rounded-circle me-2"
                        alt="webdev">
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-0 text-sm">وب‌دِو</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">$14,000</p>
                </td>
                <td>
                  <span class="text-xs font-weight-bold">در حال انجام</span>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-xs font-weight-bold">80%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div>
                      <img src="../assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm rounded-circle me-2"
                        alt="xd">
                    </div>
                    <div class="my-auto">
                      <h6 class="mb-0 text-sm">ادوبی XD</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">$2,300</p>
                </td>
                <td>
                  <span class="text-xs font-weight-bold">تمام‌شده</span>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-xs font-weight-bold">100%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




